@model IEnumerable<Sneakerland4.Data.Nikes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nike Products</h1>

<p>
    <a asp-action="Create">Add Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NikeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NikeClothing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NikeShoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NikeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NikeClothing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NikeShoes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NikeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NikeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NikeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
